body {
    font-family: 'Zilla Slab';
    color: darkslategray;
    text-align: center;
    padding: 20px;
    background: white;
}

header > p {
    font-size: 1.2em;
}

footer > p {
    font-size: 1em;
}

a:link {
    color: darkslategray;
    text-decoration: underline;
}

a:visited {
    color: darkslategray;
}

a:hover {
    color: orangered;
}

hr {
    width: 90%;
    background-color: lightgray;
    display: inline-block;
}

.header-figure {
    padding: 20px;
}

.header-img {
    padding: 10px;
    border: 1px solid lightgrey;
    background-color: white;
    width: 500px;
    height: 500px;
 }

.gallery-figure {
    display: inline-block;
    text-align: center;
    font-size: 2.0em;
    font-family: 'Zilla Slab Highlight';
}

.gallery-img {
    padding: 10px;
    border: 1px solid lightgrey;
    background-color: white;
    width: 400px;
    height: 400px;
    object-fit: contain;
    transition: all 0.2s;
 }

.gallery-img:hover {
    box-shadow: 3px 3px 3px darkgray;
    cursor: pointer;
}